/* All */

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 50px;
    text-align: center;
}

/* Sections */

.heading {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.heading select {
    margin-left: 50px;
    height: 40px;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right rgb(255, 255, 255);
    -webkit-appearance: none;
    border: 1px solid lightgray;
    background-position-x: 244px;
}

.heading .headButton {
    color: black;
   margin-left: 50px;
   transition: ease-in-out 0.5s;
}

.heading .headerButton {
    color: black;
   transition: ease-in-out 0.5s;
}

.headerButton{
    margin-bottom: 20px;
}


.heading .headerButton:hover,.heading .headButton:hover  {
  background-color: rgb(238, 238, 238);
}

.numberWebcams{
    display: flex;
    flex-wrap: wrap;
    height:40px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 0.5px solid lightgray;
    border-radius: 5px;
}

.columns{
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.center {
    display: flex;
    justify-content: center;
     flex-wrap: wrap;
    width: 100vw;
    /* margin-top: 20px; */
}

.warping {
    min-width: 320px;
}

.webcamsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webcamTitle{
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    height: 15px;
    overflow: hidden;
    flex-wrap: wrap;
    max-width: 300px;
    text-align: center;
}



.heightSearch {
    height: 32px;
}

.webcamDiv{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.webcamDiv select {
    border-radius: 5px;
    max-width: 300px;
}

embed {
    margin:10px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}


.add {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 0.5px solid black;
}

/* Media queries */ 

 @media only screen and (max-width: 640px) {

.columns {
    display: flex;
flex-direction: column;
    }

    .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading select {
    margin-left: 0;
}

.limit {
    margin: 10px 0px;
}

a.button:nth-child(3){
     margin: 10px 0px;
}

.informations {
    margin-top: 15px;
    border: 1px dashed black;
}

 }

